<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<module name="TreeWalker">
		<!-- Lines are indented using tabs only -->
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* "/>
			<property name="message" value="Indent must use tab characters"/>
			<property name="ignoreComments" value="true"/>
		</module>

		<!-- No trailing whitespace -->
		<module name="RegexpSinglelineJava">
			<property name="format" value="[ \t]+$"/>
			<property name="message" value="Trailing whitespace"/>
		</module>
	</module>

	<!-- Trailing new line -->
	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf"/>
	</module>
</module>
